<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85586232299-3ma28ci5l4te60ibop51as9ecpgmrqsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85586232299-3ma28ci5l4te60ibop51as9ecpgmrqsr</string>
	<key>API_KEY</key>
	<string>AIzaSyDMLiAymseZ1w2mzk4hzLfLOVT6uPpnJbs</string>
	<key>GCM_SENDER_ID</key>
	<string>85586232299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.streets.Gridiron-Picks</string>
	<key>PROJECT_ID</key>
	<string>gridiron-picks-16499</string>
	<key>STORAGE_BUCKET</key>
	<string>gridiron-picks-16499.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85586232299:ios:fc7da8e390fe7c967ecfae</string>
</dict>
</plist>